/* Центрирование всех страниц */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

button {
  border-radius: 0 !important;
}

input {
  border-radius: 0 !important;
}
